{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'teacher_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div class = "container">
        <div class = "row d-flex justify-content-center">
            <div class = "col-5 d-flex justify-content-center">
                <h1>Thêm đề thi</h1>
            </div>
        </div>       
        {% include 'part/add_exam_form.html' %}
    </div>
    <link rel="stylesheet" href="{% static 'css/add_exam.css' %}">
{% endblock content %}

